#draft_option_container {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.draft_option{
  margin: 5px;
  width: 40px;
  height: 40px;
}

#delete_note{
  background: url("delete.png") no-repeat center;
}

#delete_draft{
  background: url("cancel.png") no-repeat center;
}

#confirm_note{
  background: url("done.png") no-repeat center;
}

#add_dialogue {
  position: fixed;
  overflow: auto;
  padding: 10px;
  width: 60vw;
  height: 60vh;
  top: 50vh;
  left: 50vw;
  margin-top: -30vh;
  margin-left: -30vw;
  background-color: white;
  border-radius: 10px;
  border:4px solid gray;
  resize: both;
}

#note_properties {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}


#note_edit {
  top: 25px;
  height: 150px;
  resize: vertical;
}

#note_add_confirm {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}