#add_button{
    position: fixed;
    right: 50px;
    bottom: 10px;
  }
  
  #add_dialogue{
    position: fixed;
    overflow: auto;
    padding: 10px;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    margin-top: -15%;
    margin-left: -30%;
    background-color:grey;
  }
  
  #add_note_close{
    position: absolute;
    right: 15px;
    top: 15px;
  }
  #note_edit{
    top:25px;
    left:10px;
    width:75%;
    height: 150px;
  }
  
  #note_add_confirm{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  