#note_list{
    padding: 10px;
}

#note_item{
    position: relative;
    border: 4px solid;
    border-color: gray;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: auto;
    white-space: pre-wrap;
}

#button_context{
    position: absolute;
    display: inline-block;
}